body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.calculadora{
    background: #5288c5;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #5288c5;
    box-shadow: 0 5px 10px #9fb6cf;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-gap:10px;

}